*{
padding:0;
margin:0;
box-sizing: border-box;
font-family: 'Balsamiq Sans', cursive;
}


body{
position: relative;
}

form{
max-width: 950px;
width: 100%;
background:white;
color:white;
padding:35px;
font-size:25px;
background:linear-gradient(155deg, rgb(179, 89, 240),rgb(145, 15, 231));
margin:0 auto;
padding-bottom:150px;
text-align: center;
border-radius: 0 0 150px 150px;
transition: 0.8s;
}

.grow{
    padding-bottom:405px;
    transition: 0.8s;

}

input[type="number"]{
width: 75%;
height: 55px;
padding:10px;
margin-top:10px;
border-radius:15px;
border:3px solid white;
outline: 0;
font-size:21px;
}

input[type="number"]:focus{
border:3px solid black;
}

input[type="button"]{
width: 170px;
height: 55px;
border-radius:15px;
border:3px solid white;
background:rgb(179, 89, 240);
color:white;
margin-top:35px;
font-size:22px;
cursor:pointer;
}

input[type="button"]:hover{
background:rgb(105, 7, 170);
}

input[type="radio"]{
width: 15px;
height: 15px;
    
}

.container-mostrar{
text-align: center;
width: 100%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/*background:linear-gradient(-100deg,rgb(9, 75, 255),rgb(10, 37, 110));*/
background:white;
padding:35px;

}

.nascimento{
margin-bottom:30px;
}

.genero{
display: flex;
flex-direction: column;
justify-content: center;
padding-bottom:15px;
}

.masculino, .feminino{
margin-top:10px;
}

img{
width: 100%;
border-radius: 10px 10px 5px 5px;
height: 100%;
transition: 0.8s;
animation: roda-a-roda 2.5s 1;
opacity: 1;
}


@keyframes roda-a-roda {
from {
    opacity:0;
    transition: 0.8s;
}
to{
    opacity: 1;
    transition: 0.8s;
}

}

.msg2{
max-width: 450px;
width: 100%;
height: 300px;
border:15px solid white;
border-radius: 25px; 
transition: 0.8s;
position: relative;
top:0;
}

.msg2Dessapear{
opacity: 0;
transition: 0.8s;
}

.subir{
top:-350px;
opacity: 1;
transition: 0.8s;
}

#msg{
margin-top:25px;
color:white;
}

