*{
    padding:0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Balsamiq Sans', cursive;
}

.container-dados{
    float:left;
    width: 50%;
    height: 100vh;
    background:linear-gradient(100deg,rgb(9, 75, 255),rgb(10, 37, 110));
    text-align: center;
    padding:30px;
    position: relative;
}

form{
    position: absolute;
    width: 85%;
    background:white;
    top:55%;
    transform: translateY(-55%);
    padding:35px;
    font-size:25px;
    border-radius: 30px;
}

input[type="number"]{
    width: 75%;
    height: 55px;
    padding:10px;
    margin-top:10px;
    border-radius:15px;
    border:3px solid rgb(56, 54, 54);
    outline: 0;
    font-size:21px;
}

input[type="number"]:focus{
    border:3px solid black;
}

input[type="button"]{
    width: 170px;
    height: 55px;
    border-radius:15px;
    border:3px solid white;
    background:rgb(44, 90, 218);
    color:white;
    margin-top:35px;
    font-size:22px;
    cursor:pointer;
}

input[type="button"]:hover{
    background:rgb(31, 63, 151);
}

input[type="radio"]{
    width: 15px;
    height: 15px;
    
}

.container-mostrar{
    float:left;
    width: 50%;
    height: 100vh;
    background:linear-gradient(-100deg,rgb(9, 75, 255),rgb(10, 37, 110));
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.nascimento{
margin-bottom:30px;
}

.genero{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom:15px;
}

.masculino, .feminino{
    margin-top:10px;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 2px;
    transition: 0.5s;
 
    
}

.msg2{
    max-width: 750px;
    width: 100%;
    height:550px;
    border:25px solid white;
    border-radius: 25px; 
    box-shadow: 5px 5px 5px 5px rgba(19, 19, 19, 0.623);
    margin-right:35px;
    transition: 0.5s;
}

#msg{
    margin-bottom:15px;
    color:white;
}


@media screen and (max-width:1430px){
    .msg2{
        height:500px;
        transition: 0.5s;
     
    }
    
}

@media screen and (max-width:1230px){
    .msg2{
        height:450px;
        transition: 0.5s;
     
    }
    
}

@media screen and (max-width:1030px){
    .msg2{
        height:400px;
        transition: 0.5s;
     
    }
    
}


@media screen and (max-width:950px){
    .container-dados{
        height: 350px;
        width: 100%;
        background:linear-gradient(180deg,rgb(9, 75, 255),rgb(10, 37, 110));
    
    }

    form{
        top:30px;
        left:50%;
        transform: translateY(0);
        transform: translateX(-50%);
        transition: 0.5s;
    }

    .msg2{
        height: 500px;
        margin:0 auto;
        margin:0 5px 0 5px;
        border:15px solid white;
        transition: 0.5s;
    }

    .container-mostrar{
        width: 100%;
        background:linear-gradient(0deg,rgb(9, 75, 255),rgb(10, 37, 110));
       
    }

}

@media screen and (max-width:730px){
    .msg2{
        height:450px;
        transition: 0.5s;
     
    }
    
}

@media screen and (max-width:600px){
    .msg2{
        height:400px;
        transition: 0.5s;
     
    }

    form{
        width: 100%;
        transition: 0.5s;
    }
    
}

@media screen and (max-width:380px){
    .msg2{
        height:300px;
        transition: 0.5s;
     
    }
    
}